@model List<ContactUs>
<section id="testimonials" class="testimonials">
    <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
            <h2>اراء المستخدمين</h2>
            
        </div>
        <center>
            @foreach (var item in Model)
            {
                <div class="swiper-slide swiper-slide-prev" role="group" aria-label="4 / 5" style="width: 696px; margin-right: 20px;" data-swiper-slide-index="3">
                  
                    <div class="testimonial-item">
                        <p style="font-size:30px">@item.Subject</p>
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            @item.Message <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
                        <h3>@item.Name</h3>
                        <h4>@item.Email</h4>
                    </div>
                </div>
                <hr/>
            }
        </center>     

               
            </div>
            
       

    </div>
</section>